
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" id="products">Cat&aacute;logo de S&iacute;ndromes Gen&eacute;ticos
            <small>Universidad Tecnol&oacute;gica de Bol&iacute;var</small>
        </h1>
        
        <uib-tabset type="pills">

            <uib-tab heading="Cl&iacute;nica" active="$root.firstTabShown" ng-click="clearSearchQuery('two')">
                <div class="tab-container">
                    <ui-select multiple ng-model="$root.selectedFeatures" on-select="filterSyndromes($item, $model)" 
                               on-remove="filterSyndromes($item, $model)" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match placeholder="Seleccione las caracter&iacute;stica(s) cl&iacute;nicas ...">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="feature in features | propsFilter: {name: $select.search}">
                            <div ng-bind-html="feature.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>

            </uib-tab>
            <uib-tab heading="Nombre" index="1" active="$root.secondTabShown" ng-click="clearSearchQuery('one')">
                <div class="tab-container">
                    <input type="text" ng-model="$root.syndromeSearchQuery" class="form-control">
                </div>
            </uib-tab>
        </uib-tabset>



        <br>
        <hr>
    </div>
</div>
<div ng-show="filteredSyndromes.length === 0 || filteredSynd.length === 0">
    <h4 class="col-lg-12 text-center">No hay resultados</h4>
</div>
<div ng-repeat="syndrome in filteredSyndromes | filterBy: ['name','synonym']: $root.syndromeSearchQuery as filteredSynd">

    <div  class="row">
        <div class="col-md-7">
            <img class=" center-block img-responsive z-depth-1 hoverable hidden-sm hidden-xs" src="img/dna2.jpg" alt="">

        </div>
        <div class="col-md-5" style="padding-top: 1em">
            <h3><i class="fa fa-stethoscope "></i> {{syndrome.name}}</h3>
            <h5><small>Sin&oacute;nimo: {{syndrome.synonym}}</small></h5>
            <p>{{syndrome.evolution| limitTo:200}}...</p>
            <a href="#/detail/{{syndrome.id}}">
                <button type="button" class="btn btn-info waves-effect waves-light">Leer m&aacute;s...</button>
            </a>
        </div>
    </div>
    <!-- /.row -->

    <hr>
</div>
<hr>

<!-- Pagination -->
<!--div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div-->
<!-- /.row -->