<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header" id="products">Cat&aacute;logo de S&iacute;ndromes Gen&eacute;ticos
      <small>Universidad Tecnol&oacute;gica de Bol&iacute;var</small>
    </h1>

    
  </div>
  <div class="col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>
<hr>
<footer class="page-footer info-color darken-1" if="footer">
  <div class="container">
    <div class="row">


    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 center-on-small-only"> <a href="http://www.unitecnologica.edu.co">Universidad Tecnol&oacute;gica de Bol&iacute;var - 2016.</a>

      </div>
    </div>
  </div>
</footer>